SUDO_USERS = "8071502517"#Sudo users
API_ID = "26094030"
API_HASH = "fae652f4d0119d5c37cb8325eac8737d"
LOG_CHAT = "777000" #group group id
MONGO_DB = ""#database url
ALIVE_IMG = ""#alive image
STRING_SESSION1 = #Your string session 
